@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<style>
    .dropdown-item:hover {
        background-color: #2f2f2f;
    }
    .aaa :hover {
        background-color: #333;
    }
</style>
<div class="container-fluid ">
    <div class="row no-gutters1 ">
        <div class="chat-left-sidebar border-right" style="background-color: #2b2b2b;">

            <div class="scroll-chat2">
                <div class="chat-border row" style="display:inline-flex;max-height:150px;">
                    <div class="col-md-7">
                        <img src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/filip.jpg" alt="" class="rounded-circle mr-3">
                    </div>
                    <div class="col-md-2">
                        <a class="find" asp-controller="Home" asp-action="Find">+</a>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown1">
                            <a class="find" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </a>
                            <div class="dropdown-menu" style="background-color:#333;">
                                <a class="dropdown-item" id="create-room-btn" href="#" style="color:#fff; ">New group</a>
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <a class="dropdown-item" href="#" style="color:#fff; ">Log out</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="side-menue chat-panel2">
   
                    @foreach (var user in Model)
                    {
                        <div class="aaa">
                            <a asp-controller="Home" asp-action="CreatePrivateRoom" asp-route-userId="@user.Id">
                                <div class="friend-drawer friend-drawer--onhover active" style="
    ">
                                    <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
                                    <div class="text">
                                        <h6>@user.UserName</h6>
                                        <p class="text-muted">Hey, you're arrested!</p>
                                    </div>

                                </div>
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="col-md-12 chart-right-sidebar background" style="flex: 1;">
        </div>
    </div>
</div>
