@model IEnumerable<Chat>

@{
    var userId = User.GetUserId();
}
<form asp-action="Private" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="chat-body">
    @foreach (var chat in Model)
    {
    <a class="room-button" asp-controller="Home" asp-action="Chat" asp-route-id="@chat.Id">
        @chat.Name
    </a>
    }
</div>